<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') -%>

    <body>
        <header class=" py-4 bg-blue-500 ">
            <div class="container mx-auto flex justify-between items-center">
                <a href="/" class="w-1 text-yellow-300 font-bold text-3xl">Shopkart</a>
                <nav class="">
                    <ul class="list-none flex items-center align-middle">
                        <li class="px-5 text-xl text-white"><a href="/">Home</a></li>
                        <li class="px-5 text-xl text-white"><a href="/products">
                                Products</a>
                        </li>
                        <li class="px-5 text-xl text-white"><a href="/users/logout">Logout</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            <section class="container mx-auto w-1/2 px-28 py-16">
                <form action="/products" method="post"
                    class="flex flex-col basis-48 border-4 border-teal-100 rounded-lg p-8 border-solid">
                    <input class="py-2 border-teal-100 border-2 my-2 px-4 rounded-lg text-2xl w-100  " type="text"
                        placeholder="Name of the product" name="name">
                    <input class="py-2 border-teal-100 border-2 my-2 px-4 rounded-lg text-2xl w-100  " type="number"
                        name="quantity" placeholder="Quantity">
                    <input class="py-2 border-teal-100 border-2 my-2 px-4 rounded-lg text-2xl w-100  " type="number"
                        name="price" placeholder="Price">
                    <input class="py-2 border-teal-100 border-2 my-2 px-4 rounded-lg text-2xl w-100  " type="string"
                        name="image" placeholder="Image Url">
                    <input
                        class="py-2 border-teal-100 border-2 my-2 px-4 rounded-lg text-2xl w-100 bg-teal-400 text-white "
                        type="submit" value="Add Product">
                </form>
            </section>
        </main>
        <footer>

        </footer>
    </body>

</html>