<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>User Registration</title>
</head>

<body class=" container">
    <header>
        <h1>Register new User</h1>
    </header>
    <main>
        <form action="/users/register" method="POST" class="form-control">
            <input type="text" name="name" id="" placeholder="Name">
            <input type="email" name="email" id="" placeholder="Email">
            <input type="password" name="password" id="" placeholder="Password">
            <input type="number" name="age" id="" placeholder="Age">
            <input type="tel" name="phone" id="" placeholder="Phone">
            <input type="submit" value="Register">
        </form>

    </main>
    <footer>

    </footer>
</body>

</html>