body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}
.container {
  max-width: 70%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.form-control {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
}
input,
textarea {
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  border: 1px solid lightgray;
  border-radius: 10px;
}
