<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Welcome to Dashboard!!</title>
</head>

<body class=" container">
    <header>
        <h1 style="color:rgb(51, 194, 51); text-align: center;">Login Successful</h1>
        <a href="/users/logout" class="logout-btn btn">Logout</a>
    </header>

    <footer>

    </footer>
</body>

</html>